@tailwind base;
@tailwind components;
@tailwind utilities;

.nbs {
  white-space: nowrap;
}

.sidepanel__hl {
  color: #ff6a44;
  font-weight: 600;
}

.sidepanel__hl svg {
  color: rgba(255,106,68,.2);
}

.sidepanel__hl path {
  stroke-dashoffset: 0;
}
